<form action='/visit' method="POST">

    <div class="row">
        <div class="col">
        <label for="exampleInputPassword1">Вашем Имя</label>
        <input type="text" value="<%= @c.name %>" style="text-transform: capitalize;" class="form-control" name="client[name]">
        <%# <input required type="text" class="form-control" name="client[name]" oninvalid="this.setCustomValidity('Пожалуйста введите имя')" oninput="setCustomValidity('')" > %>
        </div>

        <div class="col">
                <label for="exampleInputPassword1">Дата записи</label>
                <!-- <input required class="form-control" type="date" name="date"  oninvalid="this.setCustomValidity('Please Enter valid email')" oninput="setCustomValidity('')" > -->
                <input required class="form-control form_datetime" name="client[datestamp]" value="<%= @c.datestamp %>" readonly oninvalid="this.setCustomValidity('Укажите дату записи')" oninput="setCustomValidity('')" >
                <!-- <div class="input-group date"> -->
            <%# </div> %>
        </div>
    </div>
<br>
    <div class="row">
        <div class="col">


<label for="exampleInputPassword1">Ваш телефон</label>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">+7</div>
    </div>
   <input required="" name="client[phone]" value="<%= @c.phone %>" type="text" class="form-control input-medium bfh-phone" placeholder="9876543210" data-format="dddddddddd" oninvalid="this.setCustomValidity('Введите номер телефона')" oninput="setCustomValidity('')" >
  </div>


        </div>
        

        
        <div class="col">
        <label for="exampleInputEmail1">Ваш e-mail</label>
        <input required type="email" value="<%= @c.email %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email@post.tld" name="client[email]" value="<%= @c.name %>" oninvalid="this.setCustomValidity('Введите email')" oninput="setCustomValidity('')">
        <small id="emailHelp" class="form-text text-muted">Мы не передаем ваш e-mail третьим лицам</small>
        </div>
    </div>
    
  <div class="form-group">
    <label for="exampleSelect1">Выберите барбера</label>
    <select class="form-control" name="client[barber]">


       <!-- <option>Walter White</option>
        <option>Jessie Pincman</option>
        <option>Gus Fring</option> -->

    <%# <% @barbers.each { |row|  %>  
 <%#   <%= " <option>  #{if row['name']} </option> "  %>
  <%#  <% } %> 

    <% @barbers.each do |row| %>
    <%= if "#{row['name']}" == "#{@c.barber}" then "<option selected> #{row['name']} </option>" else  "<option> #{row['name']} </option>" end %>
    <% end %>




    </select>
  </div>

<div class="mx-auto" style="width: 200px;">
    <button type="submit" class="btn btn-success">Записать меня</button>
</div>

</form>

<script type="text/javascript">
$(function() {
  // тут я могу написать любой javascript код, который исполнится
  // после загрузки страницы

$(".form_datetime").datetimepicker({
        
        language:  'ru',
        daysOfWeekDisabled: [5, 6],
        format: "dd.mm.yyyy hh:ii",
        autoclose: true,
        todayBtn: true,
        minuteStep: 30

});
});
</script>

